<!DOCTYPE html>
<html lang="en">
<head>
  <title>Giovani's TinyApp</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body bgcolor=whitesmoke>

  <p>
  <div class="container shadow p-3 mb-5 bg-blue rounded">

  <% if (locals.error) { %>
    <p class="alert alert-danger"><%= error %></p>
  <% } %>

  <% if (username === undefined) { %>

    <h3>Login</h3><p>
    <form action="/login" method="POST">
      <div class="form-inline p-2">
        <label for="username">Username:&nbsp;</label>
        <input type="text" class="form-control" name="username" id="username" value="<%=username%>" aria-describedby="username">
        <button type="submit" class="btn btn-primary">&nbsp;Submit</button>
      </div>
    </form>
    <p>

  <% } else { %>

    <h3>Welcome, <%= username%>.</h3><p>
    <form action="/logout" method="POST">
      <div class="form-inline p-2">
        <button type="submit" class="btn btn-primary">&nbsp;Logout</button>
      </div>
    </form>
    <p>

  <% }%>