<!DOCTYPE html>
<html lang="en">
<head>
  <title>Giovani's TinyApp</title>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body bgcolor=whitesmoke>

  <p>
  <div class="container shadow p-3 mb-5 bg-blue rounded">

  <% if (locals.error) { %>
    <p class="alert alert-danger"><%= error %></p>
  <% } %>

  <% if (user) { %>

    <h1>Welcome, <%= user.id %></h1>

    <form action="/logout" method="POST">
      <div class="form-inline p-2">
        <button type="submit" class="btn btn-primary">Logout</button>
      </div>
    </form>
    <p>

    <p><a class="btn btn-info" href="http://localhost:8080/urls/new" role="button">New short Link</a><p>
    <p><a class="btn btn-info" href="http://localhost:8080/" role="button">My Links</a><p>

  <% } else { %>

    <p><a class="btn btn-info" href="http://localhost:8080/register" role="button">Register</a><p>
    <p><a class="btn btn-info" href="http://localhost:8080/login" role="button">Login</a><p>

  <% }%>

  <p><a class="btn btn-info" href="http://localhost:8080/list" role="button">List of Links</a><p>

  <hr>