<% include partials/_header.ejs %>

<% if (Object.keys(urls).length > 0) { %>

  <% let num = 0; %>

  <h5>List of all URLs</h5><p>

  <table class="table table-striped table-bordered table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Short Link</th>
        <th scope="col">Full URL Address</th>
      </tr>
    </thead>
    <tbody>

    <% for (item in urls) { %>
      <% num++; %>
      <tr>
        <th scope="row"><%=num%></th>
        <td><a href="<%= urls[item].longURL %>" target="_blank"><%= item %></a></td>
        <td><%= urls[item].longURL %></td>
      </tr>
    <% } %>

    </tbody>
  </table>

<% } else { %>

  <div class="container">None URL created yet</div>

<% } %>

<% include partials/_footer.ejs %>
