<% include partials/_header.ejs %>

<p><a class="btn btn-info" href="http://localhost:8080" role="button">Back to List</a><p>

<h3><%= shortURL %></h3>

<form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
  <input id="longURL" type="text" name="longURL" value="<%= longURL %>" style="width: 300px">
  <input type="submit" value="Update">
</form>

<% include partials/_footer.ejs %>